/* Main Real Estate */
.chat-canvas {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex: 2 1 90%;
  overflow-y: scroll;
}

/* Messages */
.messages-container {
  flex: 1 1 90%;
  overflow-x: scroll;
}

/* Form */
.form {
  flex: 1 1 10%;
  order: 1;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
