.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background: #57606f;
  color: #dfe4ea;
  z-index: 1;
}

.nav__hero {
  flex: 1 1 50%;
  text-align: center;
}
